

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: black;
   
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    color: rgb(10, 9, 9);
    padding: 10px;
    margin:0px 40px
}

ul {
    display: flex;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    padding: 0px 55px;
}

ul li a {
    list-style: none;
    color: aliceblue;
    font-size: 23px;
    font-weight: bold;
}

.logo {
    color: aliceblue;
    font-size: 23px;
    font-weight: bold;
}

.icon a {
    color: whitesmoke;
}

.icon button {
    background-color: white;
    padding: 6px 16px;
    font-size: 23px;
    font-weight: bold;
    margin-right: 80px;
}

body {
    background-image: url("/img/Circle.png");
    background-repeat: no-repeat;
    background-position: 51% 6%;
}

.img {
    text-align: center;
}

#left-content {
    height: 1%;
    width: 36%;
    color: aliceblue;
}

#right-content {
    height: 1%;
    width: 36%;
    color: whitesmoke;
    display: block;
}

.parent-content {
    display: flex;
    justify-content: space-between;
}

#left-content h1 {
    position: absolute;
    top: 150px;
    left: 65px;
    font-size: 6rem;
    
}

#left-content h2 {
    position: absolute;
    top: 450px;
    left: -25px;
    line-height: 10px;
    font-size: 40px;
    rotate: calc(-90deg);
}

#left-content p {
    position: absolute;
    top: 450px;
    left: 195px;
    font-weight: bold;
    font-size: 20px;
}

.bi-arrow-left {
    position: absolute;
    top: 43rem;
    left: 455px;
}

.bi-arrow-right {
    position: absolute;
    top: 43rem;
    right: 455px;
}

.right {
    position: absolute;
    top: 24rem;
    right: 55px;
}

.start {
    padding: 6px 20px;
    background-color: #a460f9;
    color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
}

.read {
    background-color: black;
    color: aliceblue;
    border: none;
}

.right h3 {
    padding-bottom: 15px;
}

.right pre {
    padding-bottom: 25px;
}

.btn {
    position: absolute;
    top: 10rem;
    right: 5px;
    padding: 34px 50px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 25px;
    background-color: black;
    border-bottom: 1px solid white;
}

.wrapper p {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}


.wrapper {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 20px;
    /* justify-content: center;
    justify-content: space-around; */
    /* height: 20vh; */
    padding-top: 20px;
    width: 100%;
    text-align: center;

}

.names {
    display: block;
}

.digit {
    color: white;
    position: relative;
    right: 85px;
    top: 45px;
}

.wrapper span {
    font-size: 35px;
    font-weight: bold;
    padding-right: 54px;
}
.challenge{
      display: flex;
      justify-content: center;
      justify-content: space-between;
  
}
#first{
   color: aliceblue;
   rotate: calc(-90deg);
   padding-left: 240px;
   margin-top: 250px;
}
#second{
    padding-top: 50px;
    color: aliceblue;
}
#last{
    color: aliceblue;
    rotate: calc(90deg);
    padding-right: 240px;
    margin-top: 250px;
}
#second {
   font-size: 3rem;
}
.arrow-down{
    text-align: center;
    padding-top: 30px;
}
.course-name pre{
    color: white;
    font-size: 20px;
}
.course-name span{
    color: white;
    font-size: 15px;
}
.course-name{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0px 50px;
    padding: 0px 50px;
    margin-top: 50px;
}
.course-name p{
    font-size: 23px;
    color: white;
}
.card{
    border: 1px solid white;
    height: 350px;
    /* width: 78%; */
    text-align: center;
}
.cards{
    /* display: flex; */
    /* justify-content: center;
    justify-content: space-around; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 70px;
    padding: 20px;
   
}
.card-box{
      height: 40px;
      width: 40px;
      background-color: white;
}
.card-box h6{
    font-size: 26px;
    padding: 10px 10px 10px 0px;
}
.card h2{
    color: white;
    font-size: 2rem;
   text-align: center;
   padding-top: 45px;
}
.card h2 span{
    color: #a460f9;
}
.underline{
    background-color: #a460f9;
    width: 60px;
    height: 3px;
    color: aliceblue;
   margin: auto;
  margin-top: 20px;
}
.card pre{
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.btn-{
    text-align: center;
}
.btn- button{
    padding: 10px 15px;
    background-color: #a460f9;
    color: white;
    font-weight: 900;
    font-size: 15px;
}
.more p{
    color: white;
    font-size: 22px;
    margin-right: 210px;

}
.more{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    
}
.about-info h1{
    color: aliceblue;
    font-size: 3rem;
}
.about-info h1 span{
    color: #a460f9;
}
.aboutus pre{
      color: white;
      font: 15px;
      line-height: 1.6;
      padding-top: 30px;
}
.aboutus{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.about-info{
    margin-top: 170px;
}
.second-pre pre{
   line-height: 4.8;
}
button[type="button-"]{
    background: #a460f9;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
}
.bg-two{
   position: relative;
   left: 62%;
   bottom: 32rem;
   z-index: -2;
}
.content-head h1{
    color: white;

}
.content-head pre{
    padding: 20px 0px;
    color: white;
    line-height: 1.4;
}
button[type="btn-three"]{
    background: #a460f9;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
}
.whyus{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
img[alt="third"] {
   position: relative;
   top: -150px;
}
img[alt="Circle-t"]{
    position: relative;
    top: -45rem;
    left: 5rem;
    z-index: -2;
}
.parent-2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
img[alt="four"]{
    position: relative;
    top: -320px;
}
.parent-2 pre{
    color: white;
    font-size: 18px;
    line-height: 1.8;
    rotate: calc(-90deg);
    position: relative;
    top: -120px;
}
.user pre{
    color: #a460f9;
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: -200px;
    
}
.user pre span{
    word-spacing: 2px;
    font-size: 4rem;
    color: white;
    font-weight: 600;
}
